body {
    background-color: hsl(220, 15%, 55%);
    margin: 50px ;
}
.example {
    background-color: hsl(0, 0%, 100%);
    background-position: center;
    width: 300px;
    height: 400px;
    border: 1px white;
    border-radius: 25px;
    border-style: none;
    padding: 50px;
    margin: 20px;
    box-sizing: border-box;
    
}
img {
    width: 200px;
    height: 200px;
}
.p {
    color: hsl(212, 45%, 89%);
}